<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demo_name</key>
		<string>比例拼图</string>
		<key>controller_name</key>
		<string>CQJigsawViewController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/70eec89b71ac</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>不规格label</string>
		<key>controller_name</key>
		<string>CQIrregularViewController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/fade8341c316</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>菜单栏+下拉列表</string>
		<key>controller_name</key>
		<string>CQIphoneViewController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>多种layout的collectionView</string>
		<key>controller_name</key>
		<string>CQWaterfallController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>带警示效果的textField</string>
		<key>controller_name</key>
		<string>CQWarnTextFieldController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/4c80f28f609e</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>PNChart与tableView的联动</string>
		<key>controller_name</key>
		<string>CQChartController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/759ea22a2a0f</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>模态Controller弹窗</string>
		<key>controller_name</key>
		<string>CQFilterViewController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/541a46d867f9</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>自定义button</string>
		<key>controller_name</key>
		<string>CQCustomButtonController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>主题切换</string>
		<key>controller_name</key>
		<string>CQChangeThemeController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>CATransition动画</string>
		<key>controller_name</key>
		<string>CQTransitionController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>含timer的cell</string>
		<key>controller_name</key>
		<string></string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>排序button</string>
		<key>controller_name</key>
		<string>CQSortButtonDemoController</string>
		<key>jianshu_url</key>
		<string>https://www.jianshu.com/p/96e3f4482bb3</string>
	</dict>
	<dict>
		<key>demo_name</key>
		<string>水波动画</string>
		<key>controller_name</key>
		<string>CQRippleViewController</string>
		<key>jianshu_url</key>
		<string></string>
	</dict>
</array>
</plist>
